div{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}
.addbutton {
    background-color: #29da2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.addbutton:hover {
    background-color: #45a049;
}

.subbutton{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}
.subbutton:hover {
    background-color: #d32f2f;
}   
.resetbutton{
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}
.resetbutton:hover {
    background-color: #005f73;
}   